.header-container {
  height: 40px;
  position: fixed;
  top: 0;
  background-color: var(--primary-color0);
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-title {
  color: white;
  text-shadow: none;
  font-size: 25px;
  font-weight: 100;
}
.header-menu ul{
  align-items: center;
}
.header-menu-item {
  position: relative;
  padding: 7px 50px;
  cursor: pointer;
  transition: all 0.15s;
  align-items: center;
  
}

.title-dropDown {
  color: #ffff;
  font-weight: 100;
}
